@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
  --shadow-color: rgb(126, 0, 244);


}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: "Orbitron", sans-serif;
}

.Home {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slideable {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Vitamines {
  width: 100%;
  height: 100%;
  background: rgb(136, 101, 230);
  display: flex;
}

.profile {
  position: relative;
  width: 100%;
  height: 100%;
  background: #020202;

  display: flex;
  justify-content: center;
  align-items: center;
}

p {

}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.profile-content {

  color: white;
}

.portfolio {

}

.about-section {

}

.shapes {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;

  width: 100%;
}

.BomberBoat {
  width: 100%;
  height: 100%;
  background: rgb(216, 228, 250);
  display: flex;
  flex-direction: column;
  position: relative;
}

.bomberBoatShape {
  position: absolute;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
}

/* Vitamines */

.Vitamines-section {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 40%;
}

.exposeProject {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.picture {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* 💎 Effet creux réaliste */
.picture-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 110%;
  border-radius: 25px;
  background: #8865e6;
  box-shadow:
    0 8px 8px var(--shadow-color),
    0 -8px 8px var(--shadow-color),
    8px 0 8px var(--shadow-color),
    -8px 0 8px var(--shadow-color);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}



.picture-image img {
  width: 90%;
  height: 400px;

  object-fit: contain;



}

#picture-image-src {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

/* Titre & texte */

.vitamines-h1 {

  font-size: 8rem;
  font-weight: normal;
  text-align: center;
}

.vitamines-p {
  font-size: 1rem;
  padding-left: 50px;
  padding-right: 50px;
  width: 50%;
  letter-spacing: 2px;
  text-align: start;
}

.logos-container {

  width: 1px;
  height: 1px;
  position: relative;
}


.logos {
  width: 50px;
  height: 50px;
  z-index: 1;

  animation: skips 1s ease-in infinite;
}

#docker {
  position: relative;
  transform: translate(400%, 10%);
  width: 70px;
  height: 70px;



}

#mysql {
  position: relative;
  transform: translate(-600%, -1600%);
}

#nodeJs {
  position: relative;
  transform: translate(500%, -1800%);
}

#react {
  position: relative;
  transform: translate(-580%, -400%);
}

@keyframes skips {
  0% {
    top: 0;

  }

  50% {
    top: -20px;
    /* Saut vers le haut */

  }

  100% {
    top: 0;
    /* Retour */

  }
}

.logos:hover {
  animation-play-state: paused;
  /* Pause l'animation */
  cursor: pointer;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
